.ipynb_checkpoints
anaconda_projects

# VS Code extensions
tempCodeRunnerFile.py

# Ignore NumPy data files
*.npy
*.npz

#Ignoring csv files.

*.csv

#Ignoring png, jpg and jpeg files.

*.jpg
*.jpeg
*.png

#Ignoring datasets folder--

Data-Sets/
